.gridContainer {
    display: grid;
    grid-template-columns: repeat(var(--columns), auto);
    grid-template-rows: repeat(var(--rows), auto);
    width: 700px;
    height: 700px;
    margin: 0 auto;
    transform: translate(0, 20px);
}

.gridItem {
    background-color: lightblue;
}